<div class="row articles-containter">
    {{#each articles}}
    <div class="col- articles-single-article">
        <a href="#/article/{{_id}}">
            <div class="single-article-image-containter">
                <div class="single-article-category">
                    {{category}}
                </div>
                <img class="single-article-image" src="http://localhost:1337/api/article/image/{{image}}" />
                <div class="single-article-date">
                    <span>{{date.month}}</span>
                    <span> {{date.day}}</span>
                </div>
            </div>

            <div class="single-article-title" title="{{{title}}}">
                {{{title}}}
            </div>

            <div class="single-article-author">
                AUTHOR {{author}}
            </div>

            <div class="single-article-content">
                {{{content}}}
            </div>

            <img class="bottom-line" src="../images/bottom-line.jpg">
        </a>
    </div>
    {{/each}}
</div>
{{#if pagination}}
<div class="row pagination-container no-gutters">
    <div class="d-flex justify-content-start" id="previous">
        <a href="#/home/1&{{pageSize}}">«</a>
    </div>

    <div class="col d-flex justify-content-center pages">
        {{#each pageNumbers}} 
                <a href="#/home/{{this}}&{{../pageSize}}">{{this}}</a> 
        {{/each}}
    </div>

    <div class="d-flex justify-content-end" id="next">
        <a href="#/home/{{count}}&{{pageSize}}">»</a>
    </div>
</div>
{{/if}}